torch
opencv-python
albumentations
Pillow
numpy
torchvision
omegaconf
taming-transformers @ git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
tqdm
pytorch-lightning
einops
natsort
clip @ git+https://github.com/openai/CLIP.git@main#egg=clip
kornia
scipy
scann
